<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='UTF-8'>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>@Html.Raw(ViewData["Title"])</title>
    <meta name="description" content="Infotoday.it @Html.Raw(ViewData["Description"])">
    <meta name="author" content="InfoToday">
    <meta name="keywords" content="@Html.Raw(ViewData["Keywords"])">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="@Html.Raw(ViewData["CurrentUrl"])">
    <meta name="twitter:title" content="Infotoday.it @Html.Raw(ViewData["Title"])">
    <meta name="twitter:description" content="@Html.Raw(ViewData["Description"])">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="@Html.Raw(ViewData["CurrentUrl"])">
    <meta property="og:url" content="https://www.infotoday.it">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Infotoday.it – @Html.Raw(ViewData["Title"])">
    <meta property="og:description" content="@Html.Raw(@ViewData["Description"])">
    <meta property="og:site_name" content="InfoToday">
    <meta property="og:locale" content="it_IT">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.min.css" />
    <script type="application/ld+json">
        {
          "@@context": "http://schema.org",
          "@@type": "NewsArticle",
          "headline": "@Html.Raw(ViewData["Title"])",
          "description": "@Html.Raw(ViewData["Description"])",
          "author": {
            "@@type": "Person",
            "name": "InfoToday.it"
          },
          "datePublished": "2025-02-13T08:00:00Z",
          "dateModified": "2025-02-13T10:00:00Z",
          "publisher": {
            "@@type": "InfoToday.it",
            "name": "@Html.Raw(ViewData["Title"])",
            "logo": {
              "@@type": "ImageObject",
              "url": "URL del logo"
            }
          },
          "mainEntityOfPage": {
            "@@type": "WebPage",
            "@@id": "@Html.Raw(ViewData["CurrentUrl"])"
          },
          "image": ""
        }
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N5B1QVVBC2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-N5B1QVVBC2');
    </script>
</head>
<body>
    <div class="contenuto-notizia">
        <div class="social-buttons">
            <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=@Html.Raw(ViewData["CurrentUrl"])" target="_blank" title="Condividi su Facebook">
                Facebook
            </a>
            <a class="twitter" href="https://twitter.com/intent/tweet?text=@Html.Raw(ViewData["Title"])&url=@Html.Raw(ViewData["CurrentUrl"])" target="_blank" title="Condividi su Twitter">
                X
            </a>
            <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=@Html.Raw(ViewData["CurrentUrl"])&title=@Html.Raw(ViewData["Title"])&summary=@Html.Raw(ViewData["Description"])" target="_blank" title="Condividi su LinkedIn">
                LinkedIn
            </a>
            <a class="whatsapp" href="https://api.whatsapp.com/send?text=@Html.Raw(ViewData["Title"]) @Html.Raw(ViewData["CurrentUrl"])" target="_blank" title="Condividi su WhatsApp">
                WhatsApp
            </a>
            <a class="pinterest" href="https://pinterest.com/pin/create/button/?url=@Html.Raw(ViewData["CurrentUrl"])&description=@Html.Raw(ViewData["Description"])" target="_blank" title="Condividi su Pinterest">
                Pinterest
            </a>
            <a class="reddit" href="https://www.reddit.com/submit?url=@Html.Raw(ViewData["CurrentUrl"])&title=@Html.Raw(ViewData["Title"])" target="_blank" title="Condividi su Reddit">
                Reddit
            </a>
        </div>
        <div class="top-bar" style="display:none">
            <p>Spazio per la pubblicità in alto</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="main-content">
                        <p>@RenderBody()</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <h2>Titolo della Colonna</h2>
                        <ul>
                            <li>Elemento 1</li>
                            <li>Elemento 2</li>
                            <li>Elemento 3</li>
                        </ul>
                        <h2>Titolo della Colonna</h2>
                        <ul>
                            <li>Elemento 1</li>
                            <li>Elemento 2</li>
                            <li>Elemento 3</li>
                        </ul>
                        <h2>Titolo della Colonna</h2>
                        <ul>
                            <li>Elemento 1</li>
                            <li>Elemento 2</li>
                            <li>Elemento 3</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-bar" style="display:none">
            <p>Spazio per la pubblicità in basso</p>
        </div>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>