@page
@model WebContentCreator.IndexModel

<!DOCTYPE html>
<html lang="it">
<head>
    <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {"siteId":3931067,"cookiePolicyId":56015756,"lang":"it","storage":{"useSiteId":true}};
    </script>
    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3931067.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Infotoday.it</title>
    <meta name="description" content="Infotoday.it – Le ultime notizie, aggiornamenti e approfondimenti in tempo reale">
    <meta name="author" content="InfoToday">
    <meta name="keywords" content="notizie, news, aggiornamenti, articoli, ultime notizie, infotoday, attualità, politica, economia, tecnologia, sport, cultura, cronaca">
    <meta name="robots" content="index, follow">
    <meta name="google-adsense-account" content="ca-pub-8992325860996769">
    <link rel="canonical" href="https://www.infotoday.it">
    <meta name="twitter:title" content="Infotoday.it – Le ultime notizie, aggiornamenti e approfondimenti in tempo reale">
    <meta name="twitter:description" content=" Scopri le ultime notizie con infotoday.it: aggiornamenti in tempo reale, articoli approfonditi e news dai principali settori, dalla politica allo sport, dalla tecnologia alla cultura.">
    <meta property="og:url" content="https://www.infotoday.it">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Infotoday.it – Le ultime notizie, aggiornamenti e approfondimenti in tempo reale">
    <meta property="og:description" content="Scopri le ultime notizie con infotoday.it: aggiornamenti in tempo reale, articoli approfonditi e news dai principali settori, dalla politica allo sport, dalla tecnologia alla cultura.">
    <meta property="og:site_name" content="InfoToday">
    <meta property="og:locale" content="it_IT">
    <style>
        body {
            padding-top: 70px;
            background-color: #f4f4f9;
        }

        .no-underline {
            text-decoration: none;
        }
        .uppercase-text {
            text-transform: uppercase;
        }

        .menu-argomenti {
            position: fixed;
            top: 70px;
            left: 0;
            height: 100%;
            overflow-y: auto;
            width: 250px;
            background-color: #343a40;
            padding-top: 20px;
        }

            .menu-argomenti a {
                display: block;
                padding: 15px;
                color: #ffffff;
                text-decoration: none;
                font-weight: bold;
                border-bottom: 1px solid #495057;
            }

                .menu-argomenti a:hover {
                    background-color: #495057;
                }

        .contenuto-notizie {
            margin-left: 270px;
            padding: 20px;
        }

        .notizia-card {
            background: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: /*20px;*/10px;
            padding: 15px;
            transition: transform 0.2s;
        }

            .notizia-card:hover {
                transform: scale(1.02);
            }

            .notizia-card h2 {
                color: #007bff;
                font-size: 1.3rem;
                font-variant-caps: all-small-caps;
            }

            .notizia-card p {
                color: #6c757d;
            }

            .notizia-card a {
                text-decoration: none;
                color: #28a745;
                font-weight: bold;
            }

                .notizia-card a:hover {
                    text-decoration: underline;
                }

        @@media (max-width: 768px) {
            .menu-argomenti

        {
            position: relative;
            width: 100%;
            height: auto;
            background-color: #343a40;
        }

        .menu-argomenti a {
            display: inline-block;
            padding: 10px;
        }

        .contenuto-notizie {
            margin-left: 0;
        }
    }

    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N5B1QVVBC2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-N5B1QVVBC2');
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand px-3" href="#">Notizie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="menu-argomenti d-lg-flex flex-lg-column">
                @foreach (var topic in Model.Topics)
                {
                    <a href="#" data-argomento="@topic" class="uppercase-text">@topic</a>
                }
            </div>
        </div>
    </nav>

    <div class="contenuto-notizie">
        @foreach (var topic in Model.Topics)
        {
            <div id="notizie-@topic" class="notizie" data-argomento="@topic" style="display: none;">
                @foreach (var notizia in Model.NewsByTopic[topic])
                {
                    <a href="/HtmlViewer/@notizia.FilePath" target="_blank" class="no-underline">
                        <div class="notizia-card d-flex justify-content-between align-items-center">
                            <h2 class="mb-0">@notizia.Date.ToString("dd/MM/yyyy HH:mm") - @notizia.Title</h2>
                        </div>
                    </a>


                }
            </div>
        }
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            // Seleziona il primo argomento disponibile e mostra le notizie corrispondenti
            var firstTopic = $('.menu-argomenti a').first().data('argomento');
            if (firstTopic) {
                $('#notizie-' + firstTopic).show(); // Mostra le notizie del primo argomento
            }

            $('.menu-argomenti a').click(function (e) {
                e.preventDefault();
                var argomento = $(this).data('argomento');
                $('.notizie').hide();
                $('#notizie-' + argomento).fadeIn();

                // Chiude il menu a comparsa sui dispositivi mobili
                if ($(window).width() < 992) {
                    $('.navbar-collapse').collapse('hide');
                }
            });
        });
    </script>
    <div style="text-align:center">
    <a href="https://www.iubenda.com/privacy-policy/56015756" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a>
    <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <a href="https://www.iubenda.com/privacy-policy/56015756/cookie-policy" class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " title="Cookie Policy ">Cookie Policy</a>
    <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
</body>
</html>
